/* body {
  width: 100%;
}

.hero-section {
  height: 42rem;
} */

.hero-section {
  background-image: url("../img/Functionalities/header/background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-section {
  margin-top: 12rem;
}

@media screen and (max-width: 66.875em) {
  .contact-form {
    width: 50%;
  }
}
@media screen and (max-width: 48.75em) {
  .contact-form {
    width: 60%;
  }
}
@media screen and (max-width: 41.375em) {
  .contact-form {
    width: 70%;
  }
}

@media screen and (max-width: 38.5em) {
  .support-section {
    padding: 7rem 2.5rem;
  }

  .logo {
    width: 10rem;
  }
}

@media screen and (max-width: 29em) {
  .logo {
    width: 8rem;
  }
}

@media screen and (max-width: 27.5em) {
  .logo {
    width: 6rem;
  }

  .contact-section {
    margin-top: 8rem;
  }

  .contact-form {
    width: 90%;
  }

  .list-link,
  .list-link:active,
  .list-link:visited {
    font-size: 1.5rem;
  }
}
