body {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-MediumItalic.eot');
    src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'), url('../fonts/Circular-Std/Circular Std/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Std/Circular Std/CircularStd-MediumItalic.woff2') format('woff2'), url('../fonts/Circular-Std/Circular Std/CircularStd-MediumItalic.woff') format('woff'), url('../fonts/Circular-Std/Circular Std/CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Black.eot');
    src: local('Circular Std Black'), local('CircularStd-Black'), url('../fonts/Circular-Std/Circular Std/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Std/Circular Std/CircularStd-Black.woff2') format('woff2'), url('../fonts/Circular-Std/Circular Std/CircularStd-Black.woff') format('woff'), url('../fonts/Circular-Std/Circular Std/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Medium.eot');
    src: local('Circular Std Medium'), local('CircularStd-Medium'), url('../fonts/Circular-Std/Circular Std/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Std/Circular Std/CircularStd-Medium.woff2') format('woff2'), url('../fonts/Circular-Std/Circular Std/CircularStd-Medium.woff') format('woff'), url('../fonts/Circular-Std/Circular Std/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Bold.eot');
    src: local('Circular Std Bold'), local('CircularStd-Bold'), url('../fonts/Circular-Std/Circular Std/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Std/Circular Std/CircularStd-Bold.woff2') format('woff2'), url('../fonts/Circular-Std/Circular Std/CircularStd-Bold.woff') format('woff'), url('../fonts/Circular-Std/Circular Std/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-BlackItalic.eot');
    src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'), url('../fonts/Circular-Std/Circular Std/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Std/Circular Std/CircularStd-BlackItalic.woff2') format('woff2'), url('../fonts/Circular-Std/Circular Std/CircularStd-BlackItalic.woff') format('woff'), url('../fonts/Circular-Std/Circular Std/CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-BookItalic.eot');
    src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'), url('../fonts/Circular-Std/Circular Std/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Std/Circular Std/CircularStd-BookItalic.woff2') format('woff2'), url('../fonts/Circular-Std/Circular Std/CircularStd-BookItalic.woff') format('woff'), url('../fonts/Circular-Std/Circular Std/CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-BoldItalic.eot');
    src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'), url('../fonts/Circular-Std/Circular Std/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Std/Circular Std/CircularStd-BoldItalic.woff2') format('woff2'), url('../fonts/Circular-Std/Circular Std/CircularStd-BoldItalic.woff') format('woff'), url('../fonts/Circular-Std/Circular Std/CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.eot');
    src: local('Circular Std Book'), local('CircularStd-Book'), url('../fonts/Circular-Std/Circular Std/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Std/Circular Std/CircularStd-Book.woff2') format('woff2'), url('../fonts/Circular-Std/Circular Std/CircularStd-Book.woff') format('woff'), url('../fonts/Circular-Std/Circular Std/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/Source-Sans-Pro/SourceSansPro-Bold_0.eot?#iefix') format('embedded-opentype'), url('../fonts/Source-Sans-Pro/SourceSansPro-Bold_0.woff2') format('woff2'), url('../fonts/Source-Sans-Pro/SourceSansPro-Bold_0.woff') format('woff'), url('../fonts/Source-Sans-Pro/SourceSansPro-Bold_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



header {
    background-image: url('../img/Functionalities/header/background.png');
    background-repeat: no-repeat;
    height: 404px;
    background-position:center;
}

div.container-fluid {
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

div.container-fluid header div.row div.col-md-3 div.logo {
    margin-top: 17px;
}

div.container-fluid header div.row div.col-md-3.menu_items ul {
    float: right;
    margin-top: 52px;
}

div.container-fluid header div.row div.col-md-3 ul li {
    display: inline-block;
    margin-right: 10px;
}

div.container-fluid header div.row div.col-md-3 ul li a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    font-family: 'Circular Std Medium';
    font-weight: 500;
    font-style: normal;
    color: white;
}

div.container-fluid header div.row div.col-md-3 ul li a.active-link {
    color:rgb(239, 218, 21);
}

div.container-fluid header div:nth-child(2) {
    padding-left:1.8em;
    
}

    div.container-fluid header div h1.header-heading {
        font-size: 38px;
        font-family: 'Source Sans Pro';
        color: rgb(0, 0, 0);
        text-align: left;
        padding-top: 198px;
        padding-bottom: 0px;
        line-height: 1.2;
        font-weight: bold;
        margin-top: -1.75em;
    }

div.container-fluid header div h1.header-heading span{
    color:rgb(242, 47, 118);
}
    

div.container-fluid header div input#email {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    border-radius: 22.5px;
    background-color: rgb(247, 247, 247);
    top: 509px;
    width: 368px;
    height: 47px;
    z-index: 13;
    float: left;
    padding-left: 31px;
    margin-top: 27px;
}

div.container-fluid header div input#submit {
    background-color: rgb(239, 217, 20);
    top: 511px;
    width: 221px;
    height: 45px;
    z-index: 16;
    margin-left: 10px;
    border-color: rgb(239, 217, 20);
    border-radius: 22.5px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Circular Std Bold';
    font-size: 16px;
    text-align: center;
    margin-top: 27px;
    text-transform: uppercase;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}
